body {
  background-color: black;
  font-family: Verdana;
  color: white;
  text-align: center;
}

h1, h2 {
  font-weight: bold;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 42px;
}

.download {
  color: aquamarine !important;
  font-size: 16px;
}

#textgray {
  font-size: 21px;
  color: gray;
}

.footer {
  text-align: right;
}
